body{
    display: flex;
    background-color: #8878C3;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
h1,h2,h3,p{
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
}
#crypt{
    display: flex;
    justify-content: space-evenly;
}
.crypt{
    cursor: pointer;
}
.crypt,#result{
    display: flex;
    align-items: center;
    padding: 16px;
    border: solid;
    height: 16px;
}
a{
    position: absolute;
    left: 50%;
    bottom: 1%;
}