body{
    display: flex;
    background-color: orange;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
#julius_caesar{
    width: 10%;
    border-radius: 50%;
    align-self: center;
}
h1,h2,h3,p,a{
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.crypt{
    cursor: pointer;
    height: 16px;
    align-items: center;
}
#result{
    max-width: 100%;
    min-height: 90px;
}
#result_text{
    word-wrap: break-word;
    max-width: 100%;
}
.crypt,#result{
    display: flex;
    padding: 16px;
    border: solid;
}
#result_text{
    width: 100%;
    align-self: center;
}