body{
    display: flex;
    background-color: #8878C3;
    flex-direction: column;
    justify-content: center;
}
h1,h2,h3,p{
    text-align: center;
}
#crypt{
    display: flex;
    justify-content: space-evenly;
}
.crypt{
    border: solid;
}